<h2 mat-dialog-title>Add Todo</h2>
<mat-dialog-content>
    <form [formGroup]="todoForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text"  formControlName="description"/>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>
