<h2 mat-dialog-title>Add Board</h2>
<mat-dialog-content>
    <form [formGroup]="boardForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text"  formControlName="description"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Images</mat-label>
            <input matInput type="url" formControlName="url"/>
            <mat-hint align="start">*Entrer une url</mat-hint>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="submit('cancel')">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit('valid')">Save</button>
</mat-dialog-actions>
